{% extends 'payapp/base.html' %}

{% block title %}
    PayApp Homepage
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>This is the Online Payment Service Home Page</h1>
    <h2>Notification List:</h2>
    <table>
{#    # = payment request from current user's account (from user to another)#}
        <tr>
            <th>Request From</th>
            <th>Amount</th>
        </tr>
        {% for request in requests %}
            <tr>
                <td>{{ request.to_user.username }}</td>
                <td>{{ request.amount }}</td>
            </tr>
        {% endfor %}
{#        # = payment into current user's account (to user from another) #}
        <tr>
            <th>Payment From</th>
            <th>Amount</th>
        </tr>
        {% for payment in payments %}
            <tr>
                <td>{{ payment.from_user.username }}</td>
                <td>{{ payment.amount }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Transaction List:</h2>
    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Amount</th>
            <th>Overall Balance</th>
        </tr>
        {% for balance in balance_history %}
            <tr>
                <td>{{ balance.transaction.from_user.username }}</td>
                <td>{{ balance.transaction.to_user.username }}</td>
                <td>{{ balance.amount }}</td>
                {% if balance.transaction.to_user == user %}
                    <td> + {{ balance.balance }}</td>
                {% else %}
                    <td> - {{ balance.balance }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>
    {% endif %}
{% endblock %}
